/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Libre Baskerville, Montserrat, 'Helvetica Neue', sans-serif;
}

main {
    position: relative;
}


/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 5%;
}


/* Animations */

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        scale: 1;

        color: white;
    }

    to {
        scale: 1.2;

        color: rgb(17, 19, 18);
    }
}

@keyframes scale-img {
    from {
        scale: 1;
    }

    to {
        scale: 1.05;
    }
}

/* MAIN */

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    color: white;

    animation: fadeInDown 1s ease-in-out;
    animation-fill-mode: forwards;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;

}

.col {
    flex-basis: calc(100% / 3 - 20px);
    color: white;
}

.card:hover h2 {
    animation: scale 0.3s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;

}

.card:hover h4 {
    animation: scale 0.3s linear;
    animation-fill-mode: forwards;

    animation-delay: 0.5s;
}

.card:hover img {
    animation: scale-img 0.3s linear;
    animation-fill-mode: forwards;
}


.col ul {
    list-style: none;
    text-align: center;
}

.col ul * {
    margin-bottom: 10px;
    cursor: pointer;
}

main::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;

    /* Background */

    background-image: url(../img/bg-image-wooden.jpg);
    background: cover;
    filter: brightness(0.8);

}